<h1>Задачи</h1>

<ul>
  <% tasks.forEach(task => { %>
    <li><%= task.title %></li>
  <% }) %>
</ul>

<!-- ПАГИНАТОР -->
<div>
  <% for(let i = 1; i <= totalPages; i++) { %>
    <a href="/?page=<%= i %>">
      <% if(i === currentPage) { %>
        <b><%= i %></b>
      <% } else { %>
        <%= i %>
      <% } %>
    </a>
  <% } %>
</div>